# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Debug tools
debug_toolbar/

# Environment variables
.env

# VSCode
.vscode/

# Virtual environments
venv/
.env/
.venv/

# macOS
.DS_Store

# Build / packaging
*.cover
.coveragerc
*.egg
*.egg-info/
dist/
build/
*.whl

# Pytest cache
.cache/

# mypy
.mypy_cache/
.mypy/
.mypy.ini

# Docker
*.pid
*.sock
*.db
*.tar
docker-compose.override.yml
